.FormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    font-size: 2em;
}

.AddContactContainer>h1 {
    flex: 1;
    align-self: center;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namelabel,
.mobilelabel {
    margin: 0.6em 0em;
    align-self: flex-start;
    font-size: 0.6em;
    color: #0097A7;
}

#mobile, #name{
    width:100%;
    padding:1em;
}

#mobile::placeholder, #name::placeholder{
    color: #B0BEC5;
}

#submitAddContact {
    border: none;
    padding: 1em;
    margin: 0.6em;
    font-size: 1em;
    background:#F44336;
    color: white;
    transition-property: padding background;
    transition: 0.2s ease-in-out;
}

/* Because no ripple here */

#submitAddContact:hover {
    background: #D32F2F;
}

#submitAddContact:active {
    padding: 1.1em;
}

.FormContainer h2{
    color:#FFC107;
    margin-bottom: 0.5em;
}