.HeaderParent {
    display: flex;
}

.Header {
    display: flex;
    flex: 9;
    height: 10vh;
    background: #FFC107;
    justify-content: center;
    align-items: center;
}

.Heading {
    color: white;
    font-size: 1.5em;
}

.AddContact {
    display: flex;
    flex: 1;
    background: #FFC107;
    justify-content: center;
    align-items: center;
}

.AddContact button{
    background: #F44336;
    box-shadow: 1px 1px 2px #777777;
    border:none;
    font-size: 0.7m;
    padding: 1em;
}

.AddContact button a{
    color:white;
    text-decoration: none;
}