.Row {
    display: flex;
    padding: 1em;
    box-shadow: 1px 1px 1px #efefef;
    font-family: monospace;
}

.Index,
.IndexHeader {
    flex: 1;
}

.Index::after{
    color:khaki;

    content: '_';
}

.Name,
.NameHeader {
    flex: 2;
}

.Email,
.EmailHeader {
    flex: 3;
}

.MobileNumber,
.MobileNumberHeader {
    flex: 2;
}

.OtherInfo,
.OtherInfoHeader {
    flex: 2;
}

.Index,
.MobileNumber,
.Name {
    font-weight: 300;
}

.IndexHeader,
.MobileNumberHeader,
.NameHeader,
.EmailHeader,
.OtherInfoHeader {
    font-style: italic;
}