.Row {
    display: flex;
    padding: 1em;
    border-bottom: 0.1em solid #efefef;
}

.Index,
.IndexHeader {
    flex: 1;
}

.Name,
.NameHeader {
    flex: 2;
}

.MobileNumber,
.MobileNumberHeader {
    flex: 7;
}

.Index,.MobileNumber,.Name{
    font-weight: 300;
    
}

.IndexHeader,
.MobileNumberHeader,
.NameHeader {
    font-weight: 700;
}